html {
  height: 100%;
}
body {
  margin: 0;
  padding: none;
  min-height: 100%;
  font: 16px / 1 serif;
}
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.scorearea {
  display: flex;
}
.team1 {
  border: 3px solid fuchsia;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.team2 {
  border: 3px solid fuchsia;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid lawngreen;
}
button {
  border-radius: 4px;
  max-height: 50px;
}
